.invisible{
    display: none;
    width:0px;
    height:0px;
}

.normize{
    width:100%;
    height:100%;
}

table{
    width: 90%;
    margin: 10px 10px 20px 10px;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
/* tr:nth-child(even){background-color: #f2f2f2;} */
  
/* tr:hover {background-color: #ddd;} */
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.title{
    font-size: x-large;
    font-weight: bold;
}